Package: [[name]]
Version: [[version]]
Section: universe/devel
Priority: standard
Architecture: i386
Depends: openjdk-6-jdk | sun-java6-jdk | openjdk-7-jdk
Installed-Size: 472336
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
