Package: [[name]]
Version: 0.6.1-1
Section: universe/devel
Priority: standard
Architecture: all
Depends: sun-java6-jdk | openjdk-6-jdk | openjdk-7-jdk
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
