Package: [[name]]
Version: 2.0.0-1
Section: universe/devel
Priority: standard
Architecture: all
Depends: demoiselle-netbeans-7.3 (>=1.0), demoiselle-glassfish-4.0 (>=1.0)
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
