Package: [[name]]
Version: 1.1-1
Section: universe/devel
Priority: optional
Architecture: all
Depends: demoiselle-maven2 (>= 2.2)
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
