Package: [[name]]
Version: 2.0-1
Section: universe/devel
Priority: standard
Architecture: i386
Depends: demoiselle-eclipse-4.2 (>=4.2), demoiselle-maven3 (>=1.0), demoiselle-maven3-local-repo (>=1.0), demoiselle-workspace (>=1.0), demoiselle-tomcat-7.0 (>=7.0), demoiselle-jboss-7.1 (>=7.1)
Suggests: demoiselle-2-infra-extra (>=2.0)
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
