Package: [[name]]
Version: 5.1.0-3
Section: universe/java
Priority: optional
Architecture: all
Depends: openjdk-6-jdk | sun-java6-jdk | openjdk-7-jdk
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
