/target
/.project
/.classpath
/.settings
/src/data/opt/demoiselle/tool/workspace/template/eclipse-3.7-SR2
/src/data/opt/demoiselle/tool/workspace/template/eclipse-4.3
/src/data/opt/demoiselle/tool/workspace/template/eclipse-4.3.2
