Package: [[name]]
Version: 1.0.0
Section: universe/devel
Priority: standard
Architecture: i386
Depends: demoiselle-eclipse-4.6.0 (>=4.6.0), maven(>=3.0.4) | demoiselle-maven-3 (>=3.0.5), demoiselle-maven-repo (>=3.3.0), demoiselle-workspace (>=3.0), demoiselle-wildfly-10 (>=10.0.0)
Suggests: demoiselle-3-infra-1-extra (>=3.0)
Maintainer: Demoiselle Framework <demoiselle-users@lists.sourceforge.net>
Description: [[description]]