[Desktop Entry]
Name=Demoiselle iReport 3.0
Comment=iReport is the free, open source report designer for JasperReports
Exec=/opt/demoiselle/tool/ireport-3.0/iReport.sh
Icon=demoiselle-ireport-3.0.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
