Package: [[name]]
Version: [[version]]
Section: universe/devel
Priority: standard
Architecture: i386
Depends: demoiselle-eclipse-3.5 (>=3.5), demoiselle-maven2 (>=1.0), demoiselle-maven2-local-repo (>=1.0), demoiselle-workspace (>=1.2), demoiselle-tomcat-6.0 (>=6.0), demoiselle-jboss-4.2 (>=4.2)
Suggests: demoiselle-dev-extra (>=1.0)
Installed-Size: 12
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
