[Desktop Entry]
Name=Demoiselle Eclipse 4.4.0
Comment=Eclipse IDE for Java Developers with plugins and features needed by Demoiselle Framework
Exec=/opt/demoiselle/ide/eclipse-4.4.0/eclipse
Icon=/opt/demoiselle/ide/eclipse-4.4.0/icon.xpm
Terminal=false
Type=Application
Categories=Development;IDE;Java;
StartupNotify=true
Name[pt_BR]=Demoiselle Eclipse 4.4.0
