Package: [[name]]
Version: [[version]]
Section: universe/devel
Priority: optional
Architecture: all
Depends: demoiselle-eclipse-3.5 (>= 3.5.2) | demoiselle-eclipse-3.6 (>= 3.6.0)
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
