[Desktop Entry]
Name=Demoiselle Eclipse 3.6
Comment=Eclipse IDE for Java Developers with plugins and features needed by Demoiselle
Exec=/opt/demoiselle/ide/eclipse-3.6/eclipse
Icon=demoiselle-eclipse-3.6.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
