Package: [[name]]
Version: 4.0-1
Section: universe/devel
Priority: standard
Architecture: all
Depends: sun-java7-jdk | openjdk-7-jdk
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
