[Desktop Entry]
Categories=Development;
Comment=A Java SQL client program for any JDBC compliant database - package by Demoiselle Framework Project
Comment[pt_BR]=Ferramenta Gráfica de cliente SQL para banco de dados compativeis com JDBC
Encoding=UTF-8
Exec=/opt/demoiselle/tool/squirrel-sql-3.6/squirrel-sql.sh 
GenericName= SQuirreL SQL Client by Demoiselle Framework Project
GenericName[pt_BR]= SQuirrel SQL empacotado pelo Framework Demoiselle
Icon=/opt/demoiselle/tool/squirrel-sql-3.6/icons/acorn.ico
MimeType=
Name=SQuirreL SQL Client by Demoiselle Framework Project
Name[pt_BR]=SQuirrel SQL empacotado pelo Framework Demoiselle
Path=/opt/demoiselle/tool/squirrel-sql-3.6
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root
