Package: [[name]]
Version: 1.0-1
Section: universe/devel
Priority: standard
Architecture: all
Depends: demoiselle-ireport-4.0 (>=4.0), demoiselle-soapui-4.5 (>=4.5), demoiselle-squirrel-3.4 (>=3.4), demoiselle-nimble (>=1.1)
Enhances: demoiselle-2-infra-1 (>=1.0)
Maintainer: Demoiselle Framework <demoiselle-infra@lists.sourceforge.net>
Description: [[description]]
