[Desktop Entry]
Categories=Development;
Comment=A tool for inspecting Web Services over HTTP
Comment[pt_BR]=Ferramenta para inspeção de Web Services sobre HTTP
Encoding=UTF-8
Exec=/opt/demoiselle/tool/soapui-4.5/bin/soapui.sh 
GenericName=SOAPUI
GenericName[pt_BR]=SOAPUI
Icon=/opt/demoiselle/tool/soapui-4.5/bin/soapui32.png
MimeType=
Name=Demoiselle soapUI 4.5
Name[pt_BR]=Demoiselle soapUI
Path=/opt/demoiselle/tool/soapui-4.5
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
URL=
X-KDE-SubstituteUID=false
X-KDE-Username=root
