Package: [[name]]
Version: 2.0
Section: universe/devel
Priority: optional
Architecture: amd64
Depends: demoiselle-eclipse-4.4
Maintainer: Demoiselle Framework <demoiselle-users@lists.sourceforge.net>
Description: [[description]]
